[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
selenium = "==4.13.0"
pymupdf = "*"
aspose-cells = "*"
pyyaml = "*"
webdriver-manager = "*"
xmltodict = "*"
pytz = "*"
toml = "*"
pydantic = "*"
pysftp = "*"
psycopg-binary = "*"
pandas = "*"
pymysql = "*"
psycopg2 = "*"
urllib3 = "==1.26.10"
faker = "==4.15.0"
self = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.4"
